@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  font-family: Ubuntu;
}

form {
  border: solid;
  border-radius: 10px;
  padding: 50px;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

a:link, input[type=submit] {
  background: green;
  border-radius: 5px;
  text-decoration:none;
  color: white;
  border: none;
  font-family: Ubuntu;
  font-size: 20px;
  padding:5px;
  height: 50px;
  width: 100px;
  margin:10px;  
}

input[type=submit]:hover{
  background: darkgreen;
}

a:hover{
  background: darkgreen;
}