@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  font-family: Ubuntu;
}

form {
  border: solid;
  border-radius: 10px;
  padding: 50px;
}

#inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

a {
  background: green;
  border-radius: 5px;
  text-decoration:none;
  color: white;
  padding: 10px;
  margin: 10px;
}

a:hover{
  background: darkgreen;
}