html
  body
    form(action='/' method='post')
      h1 welcome #{username}
      input(type='submit' name='rawMaterialBtn' value='raw material')
      input(type='submit' name='formulasBtn' value='formulas')
      input(type='submit' name='logoutBtn' value='log out')