html
  head
    style
      include ../style.css

  body
    form(method='post' action='/login')
      input(type='password' name='username' placeholder='username')
      input(type='password' name='password' placeholder='password')
      input(type='submit' name='loginBtn' value='login')