html
  body
    form(method='post' action='/login')
      input(type='text' name='username' placeholder='username')
      input(type='text' name='password' placeholder='password')
      input(type='submit' name='loginBtn' value='login')
      input(type='submit' name='signupBtn' value='sign up')