html
  body
    form(method='post' action='/signup')
      h1 sign up
      input(type='password' name='username' placeholder='username' required)
      input(type='password' name='password' placeholder='password' required)
      input(type='password' name='password2' placeholder='repeat password' required)
      input(type='submit' name='signup' value='sign up')
      p=message